<div class="center hero-unit">
	<a href="http://hauscr.org/hsylc/"><img src="http://hauscr.org/wp-content/themes/spacecolor/images/hauscrLogo.png" /> </a>
  	<h1><i>Welcome to the</i> <br>HSYLC Conference Tool!</h1>
  	<h2>
  		For conference staff, SLs, TA/AAs; please <%= link_to "sign in", signin_path %> to use features.<br>
  			If you do not have an account, sign up below!
  	</h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>