<footer class="footer">
	<small>
		HSYLC Conference Tool by <a href="http://wryanlee.com">W. Ryan Lee</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>